@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 100px 0 50px 0;
}
* html body{
	overflow: hidden;
} 
div#headerArea {
	position: fixed !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #ABA0A0;
	color: #fff;
}
div#footerArea {
	position: fixed !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #877777;
	color: #fff;
}
* html div#contentsArea{
	height: 100%;
	overflow: auto;
}
