@CHARSET "UTF-8";

.sample_05{
width: 100%;
border-collapse: collapse;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
.sample_05 th{
width:25%;
padding: 6px; text-align: center;
vertical-align: top;
color: #666666;
background: url(bg.jpg) repeat-x top left #eee;
border-bottom: 1px dotted #999;
border-left: 1px solid #ccc;
}
.sample_05 td{
width: 25%;
padding: 6px;
border-bottom: 1px dotted #999;
border-left: 1px solid #ccc;
}