@CHARSET "UTF-8";

.header {
	width: 70%;
	border: 5px 0 0 0;
	border-color: #ea1820;
	maring: 0;
	padding: 15px;
}

.scit-badge {
	margin: 10px;
	float:left;
	width: 30%;
}

.title {
	
}

.clearfix {
	float: clearfix;
}

body {
	width: 70%;
	height: auto;
	border: 2px;
	border-radius: 10px 10px;
	text-align: center;
	margin: 20px 0;
	padding: 20px;
}